interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2026-08-1400%3A00%3A00&endtime=2026-08-1423%3A59%3A59&minmagnitude=6.0&maxdepth=40.0
  response:
    body:
      string: '{"type":"FeatureCollection","metadata":{"generated":1791211745000,"url":"https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2026-08-1400%3A00%3A00&endtime=2026-08-1423%3A59%3A59&minmagnitude=6.0&maxdepth=40.0","title":"USGS
        Earthquakes","status":200,"api":"2.7.0","count":2},"features":[{"type":"Feature","properties":{"mag":6.1,"place":"62
        km N of Ende, Indonesia","time":1786746517743,"updated":1788229351551,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/us6000tkuc","detail":"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us6000tkuc&format=geojson","felt":1,"cdi":4.9,"mmi":5.959,"alert":"green","status":"reviewed","tsunami":0,"sig":573,"net":"us","code":"6000tkuc","ids":",us6000tkuc,","sources":",us,","types":",dyfi,ground-failure,losspager,origin,phase-data,shakemap,","nst":82,"dmin":3.042,"rms":1.08,"gap":45,"magType":"mb","type":"earthquake","title":"M
        6.1 - 62 km N of Ende, Indonesia"},"geometry":{"type":"Point","coordinates":[121.5625,-8.2904,10]},"id":"us6000tkuc"},

        {"type":"Feature","properties":{"mag":7.8,"place":"66 km NNW of Ende, Indonesia","time":1786744701561,"updated":1790613950150,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/us6000tkt2","detail":"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us6000tkt2&format=geojson","felt":66,"cdi":8.9,"mmi":8.599,"alert":"orange","status":"reviewed","tsunami":0,"sig":1059,"net":"us","code":"6000tkt2","ids":",us6000tkt2,usauto6000tkt2,attjs51g,","sources":",us,usauto,at,","types":",dyfi,event-sequence,finite-fault,general-text,ground-failure,impact-text,internal-moment-tensor,internal-origin,losspager,moment-tensor,oaf,origin,phase-data,shakemap,","nst":174,"dmin":3.213,"rms":1.12,"gap":23,"magType":"mww","type":"earthquake","title":"M
        7.8 - 66 km NNW of Ende, Indonesia"},"geometry":{"type":"Point","coordinates":[121.3446,-8.3358,10]},"id":"us6000tkt2"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 05 Oct 2026 14:49:05 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/OSGeo/PROJ/refs/heads/master/docs/plot/data/coastline.geojson
  response:
    body:
      string: "{\n\"type\": \"FeatureCollection\",\n                                                                                \n\"features\":
        [\n{ \"type\": \"Feature\", \"properties\": { \"scalerank\": 1, \"featurecla\":
        \"Coastline\" }, \"geometry\": { \"type\": \"LineString\", \"coordinates\":
        [ [ -163.71289567772871, -78.595667413241543 ], [ -163.105800951163786, -78.223338718578589
        ], [ -161.245113491846439, -78.380176690584435 ], [ -160.24620805564453, -78.693645928866943
        ], [ -159.482404548154477, -79.046337579258974 ], [ -159.208183560197654,
        -79.497007745276406 ], [ -161.127601284814716, -79.634208673011329 ], [ -162.439846768218416,
        -79.281465346186991 ],[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us6000tkuc&format=geojson
  response:
    body:
      string: '{"type":"Feature","properties":{"mag":6.1,"place":"62 km N of Ende,
        Indonesia","time":1786746517743,"updated":1788229351551,"tz":null,"url":"https://earthquake.usgs.gov/earthquakes/eventpage/us6000tkuc","felt":1,"cdi":4.9,"mmi":5.959,"alert":"green","status":"reviewed","tsunami":0,"sig":573,"net":"us","code":"6000tkuc","ids":",us6000tkuc,","sources":",us,","types":",dyfi,ground-failure,losspager,origin,phase-data,shakemap,","nst":82,"dmin":3.042,"rms":1.08,"gap":45,"magType":"mb","type":"earthquake","title":"M
        6.1 - 62 km N of Ende, Indonesia","products":{"dyfi":[{"indexid":28541874,"indexTime":1788228753317,"id":"urn:usgs-product:us:dyfi:us6000tkuc:1788228746146","type":"dyfi","code":"us6000tkuc","source":"us","updateTime":1788228746146,"status":"UPDATE","properties":{"depth":"10","eventsource":"us","eventsourcecode":"6000tkuc","eventtime":"2026-08-14T22:28:37.000Z","latitude":"-8.2904","longitude":"121.5625","magnitude":"6.1","maxmmi":"4.9","num-responses":"1","numResp":"1","pdl-client-version":"Version
        3.5.4 2026-01-22"},"preferredWeight":158,"contents":{"dyfi_zip.geojson":{"contentType":"application/octet-stream","lastModified":1788228745000,"length":379,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/dyfi_zip.geojson","sha256":"fRUIKpV4pbHGDCi0AjlPm80H0damss4xan4ga6SAhf8="},"us6000tkuc_ciim_geo.pdf":{"contentType":"application/pdf","lastModified":1788228745000,"length":68363,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_ciim_geo.pdf","sha256":"4/5uBxI5uCZ8k+4dN0ElSg5K4vMF/Nw6N3+LAzdx8Zw="},"dyfi_geo_10km.geojson":{"contentType":"application/octet-stream","lastModified":1788228745000,"length":858,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/dyfi_geo_10km.geojson","sha256":"kWf9QMiGRZnp0hlyMXRrTB201ALEa0HhjZGemrLX0q8="},"dyfi_geo_1km.geojson":{"contentType":"application/octet-stream","lastModified":1788228745000,"length":878,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/dyfi_geo_1km.geojson","sha256":"W0pvm9zaBk8vXpxL0ljP8l+VxFxW/6CKrOkv7Xfwj6g="},"cdi_geo.txt":{"contentType":"text/plain","lastModified":1788228745000,"length":196,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/cdi_geo.txt","sha256":"wzLuSgnlmC5jYyiNvAT9gvqLMeukR86LdRmRS37WTUg="},"contents.xml":{"contentType":"application/xml","lastModified":1788228745000,"length":4224,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/contents.xml","sha256":"9GJQHHMzI7s4ogyxVLX1WFkWLHjdHK+HKs9VFJhiq34="},"cdi_geo_1km.txt":{"contentType":"text/plain","lastModified":1788228745000,"length":215,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/cdi_geo_1km.txt","sha256":"uBXAHgd3z0wkp5GFQU1MGkJJ82sjgwpOWRpOgAvz49A="},"dyfi_plot_atten.json":{"contentType":"application/json","lastModified":1788228745000,"length":423,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/dyfi_plot_atten.json","sha256":"Ibe54lEhX1CeZfeL6cQUfxsShak90n5mdNrxnJtwZFk="},"us6000tkuc_ciim_imap.html":{"contentType":"text/html","lastModified":1788228745000,"length":217,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_ciim_imap.html","sha256":"XF2erFio26PM4kaVCMCEOJ81U0gc3pieRZ7g1MJ0tIk="},"cdi_geo.xml":{"contentType":"application/xml","lastModified":1788228745000,"length":377,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/cdi_geo.xml","sha256":"bmlK75OeRmT8TbmszKlJsTaQUxuCqEW3NlP63LmX8PQ="},"us6000tkuc_ciim.jpg":{"contentType":"image/jpeg","lastModified":1788228745000,"length":87895,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_ciim.jpg","sha256":"GBktMHcyLdcbo4TKBTezo8Yn1JLPRFs4OQRo5jaTDv0="},"cdi_zip.xml":{"contentType":"application/xml","lastModified":1788228745000,"length":270,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/cdi_zip.xml","sha256":"1XitDds8md/zuRVcMHLXrNRKAJXiQR7/WOtxsmt2r8Y="},"dyfi_geo.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1788228745000,"length":674,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/dyfi_geo.kmz","sha256":"S1yNjjJ+5rePz11MWxtSfIjx7UsdRYtDrQtr1vq8Los="},"us6000tkuc_plot_numresp.ps":{"contentType":"application/postscript","lastModified":1788228745000,"length":29978,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_plot_numresp.ps","sha256":"rH6RYPfwyXsDUmAbHiVP2dC4/yKn9QyPnnbkBUG8vdQ="},"us6000tkuc_ciim.ps":{"contentType":"application/postscript","lastModified":1788228745000,"length":198239,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_ciim.ps","sha256":"aiQSdiKDS+fnQNlYiBPM94KizXhS0MLVqRXKSdulG8U="},"dyfi_zip.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1788228745000,"length":764,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/dyfi_zip.kmz","sha256":"kZ6XBcvHdIzbnob+fm/0xJHCoTJYw4Geo57Mpljixak="},"cdi_zip.txt":{"contentType":"text/plain","lastModified":1788228745000,"length":239,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/cdi_zip.txt","sha256":"Zp525Y0eWlgBYp1YYhDE7tbq64EYrHdc7ciejCyeoEw="},"us6000tkuc_plot_numresp.txt":{"contentType":"text/plain","lastModified":1788228745000,"length":101,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_plot_numresp.txt","sha256":"O57MEWWGYP5ttNulKiTGdWDcOuwD2ecVwuNpRXvAPsk="},"event_data.xml":{"contentType":"application/xml","lastModified":1788228745000,"length":3012,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/event_data.xml","sha256":"AYvIfqqFAkgML3WavZhhYCubAxwU+sfNWk5ugN1bfhc="},"us6000tkuc_plot_atten.txt":{"contentType":"text/plain","lastModified":1788228745000,"length":164,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_plot_atten.txt","sha256":"+xBOYCqUFXiUQU/yE+y9jWR8+3wWE31I6g1YhspCTaU="},"us6000tkuc_ciim_geo.ps":{"contentType":"application/postscript","lastModified":1788228745000,"length":192461,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_ciim_geo.ps","sha256":"QE4M/bj6wo3N8E2MUA077T39pShnqePYaGeB2p51eIk="},"dyfi_plot_numresp.json":{"contentType":"application/json","lastModified":1788228745000,"length":205,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/dyfi_plot_numresp.json","sha256":"EiGMqrE/jh5huZcQrP5N4ml8hqk10Ja5PaCeb4Bq3Xc="},"us6000tkuc_plot_atten.ps":{"contentType":"application/postscript","lastModified":1788228745000,"length":47162,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_plot_atten.ps","sha256":"iO+1dsTBryBoj5E+0MTHCzh7MHk6WpLzdTQV1jbNM+k="},"us6000tkuc_ciim_geo_imap.html":{"contentType":"text/html","lastModified":1788228745000,"length":295,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_ciim_geo_imap.html","sha256":"YtepB/m3e7SABj5qxi8mzmoDEPS4/3PtGeyFtaW1baE="},"us6000tkuc_ciim_geo.jpg":{"contentType":"image/jpeg","lastModified":1788228745000,"length":84742,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_ciim_geo.jpg","sha256":"Hj+pttdDVFR2ii4NOjVW8RJPNMsIAI6Vp1ckWCQwjDc="},"dyfi.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1788228745000,"length":1154,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/dyfi.kmz","sha256":"Nvf61+5k/bNHAn/dOMwseb85O65ix/+9elFWg0Yv0ag="},"us6000tkuc_ciim.pdf":{"contentType":"application/pdf","lastModified":1788228745000,"length":68904,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_ciim.pdf","sha256":"hCYiKLqeYavkRTi+qPdKaF8P9jW3HQz2bV433uGKds0="},"us6000tkuc_plot_numresp.jpg":{"contentType":"image/jpeg","lastModified":1788228745000,"length":28493,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_plot_numresp.jpg","sha256":"jYbzaHhV2Ji+Tu30jpCnlFkWsp7EixK2RKw5h9SZ04E="},"us6000tkuc_plot_atten.jpg":{"contentType":"image/jpeg","lastModified":1788228745000,"length":33231,"url":"https://earthquake.usgs.gov/product/dyfi/us6000tkuc/us/1788228746146/us6000tkuc_plot_atten.jpg","sha256":"a1JSAixQXHy+9SEZhQnZGdzDuBDzRHwNo9F2I2e6GTc="}}}],"ground-failure":[{"indexid":28541891,"indexTime":1788229333947,"id":"urn:usgs-product:us:ground-failure:6000tkuc:1788229326162","type":"ground-failure","code":"6000tkuc","source":"us","updateTime":1788229326162,"status":"WARNING","properties":{"depth":"10.0","eventsource":"us","eventsourcecode":"6000tkuc","eventtime":"2026-08-14T22:28:37.000Z","landslide-alert":"green","landslide-hazard-1std":"0.0002754341644749286,
        0.007522257223859003","landslide-hazard-2std":"1.164653729033497e-05, 0.01786436317138188","landslide-hazard-alert-color":"green","landslide-hazard-alert-parameter":"Aggregate
        Hazard","landslide-hazard-alert-value":"0.0038","landslide-hazard-std":"0.0048","landslide-maximum-latitude":"-6.465625000000002","landslide-maximum-longitude":"123.36979166666337","landslide-minimum-latitude":"-10.073958333333131","landslide-minimum-longitude":"119.73229166666668","landslide-overlay":"jessee_2018.png","landslide-population-1std":"0.062393640900974504,
        2.2981520156794417","landslide-population-2std":"0.0018168627847630285, 5.689162560676491","landslide-population-alert-color":"green","landslide-population-alert-parameter":"Population
        exposure","landslide-population-alert-value":"1","landslide-population-std":"1.5413","latitude":"-8.2904","liquefaction-alert":"green","liquefaction-hazard-1std":"0.6746689789926296,
        1.1048471410713674","liquefaction-hazard-2std":"0.5053050566981596, 1.362919229731871","liquefaction-hazard-alert-color":"green","liquefaction-hazard-alert-parameter":"Aggregate
        Hazard","liquefaction-hazard-alert-value":"0.89","liquefaction-hazard-std":"0.22","liquefaction-maximum-latitude":"-6.466666666666667","liquefaction-maximum-longitude":"123.37083333333004","liquefaction-minimum-latitude":"-10.074999999999795","liquefaction-minimum-longitude":"119.72916666666669","liquefaction-overlay":"zhu_2017_general.png","liquefaction-population-1std":"52.21140213386135,
        108.81732201710851","liquefaction-population-2std":"32.942969002887594, 145.7054938185251","liquefaction-population-alert-color":"green","liquefaction-population-alert-parameter":"Population
        exposure","liquefaction-population-alert-value":"80","liquefaction-population-std":"28.53","longitude":"121.5625","magnitude":"6.1","maximum-latitude":"-8.293750000000001","maximum-longitude":"121.94166666666669","minimum-latitude":"-8.668750000000001","minimum-longitude":"121.28541666666669","pdl-client-version":"Version
        3.5.4 2026-01-22","rupture-warning":"False","shakemap-version":"5","version":"4"},"preferredWeight":158,"contents":{"godt_2008_model.tif":{"contentType":"image/tiff","lastModified":1788229322000,"length":8156,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/godt_2008_model.tif","sha256":"h/MlGQfGhAX0+/Hb9GqFGbWmNCrKO04t52CTYaBsymE="},"jessee_2018.hdf5":{"contentType":"application/octet-stream","lastModified":1788229323000,"length":446599,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/jessee_2018.hdf5","sha256":"jCW09i8qj1xmNEEl2FbQKrQdiWJUIe8aA35WUYB45Ok="},"zhu_2017_general_model.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1788229323000,"length":27231,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/zhu_2017_general_model.kmz","sha256":"Aw5/JICwPQXKD+tPTkiTtPinwnM/UL/6sBaIcGIRR/A="},"zhu_2017_general.png":{"contentType":"image/png","lastModified":1788229323000,"length":3594,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/zhu_2017_general.png","sha256":"LDoxhqTiqRKWojegcfKhVAtYQ5JHk7YIPcA3LMNQSpU="},"godt_2008_modelmax.tif":{"contentType":"image/tiff","lastModified":1788229322000,"length":8333,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/godt_2008_modelmax.tif","sha256":"uO+sOG3vB0Ux2mcwtxC+lYiZ6L5ndu5gYc4YyHMO0cM="},"jessee_2018.png":{"contentType":"image/png","lastModified":1788229323000,"length":12165,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/jessee_2018.png","sha256":"rgWzg/RCFl/9i9xu3GzJBOJ68yXwt2CezvA/akOli7Q="},"zhu_2015.hdf5":{"contentType":"application/octet-stream","lastModified":1788229323000,"length":70224,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/zhu_2015.hdf5","sha256":"+YXPkBW4DzaVUk9/Z0HWfckn5aihf8Dipp6dtj9gcQQ="},"zhu_2017_general_beta_sigma.tif":{"contentType":"image/tiff","lastModified":1788229323000,"length":18529,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/zhu_2017_general_beta_sigma.tif","sha256":"K5TIDixJT0Rb3g3tE0xISxnFJkDIXSGScSI9m2dJSWA="},"godt_2008_modelmin.tif":{"contentType":"image/tiff","lastModified":1788229322000,"length":8119,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/godt_2008_modelmin.tif","sha256":"bYgPq3i/5Kq59xZZ7sPlPfXchnVHZyp4dPQAXh51Gg0="},"contents.xml":{"contentType":"application/xml","lastModified":1788229322000,"length":2594,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/contents.xml","sha256":"AyXdaG92vS4SGYOj2QIRkarR8Fi1z0JgpTw8sNSoh1I="},"zhu_2017_general_model.tif":{"contentType":"image/tiff","lastModified":1788229323000,"length":17589,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/zhu_2017_general_model.tif","sha256":"P91ZmDjPPt+sZQv9c9pV2mKCrjECQZMvX4pzSBMiDvE="},"zhu_2017_general.hdf5":{"contentType":"application/octet-stream","lastModified":1788229323000,"length":102557,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/zhu_2017_general.hdf5","sha256":"/5rPka7eh7U6r5NNuYRj/DB4SzCsgK2Oux4jJyAYCQs="},"godt_2008.hdf5":{"contentType":"application/octet-stream","lastModified":1788229322000,"length":69289,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/godt_2008.hdf5","sha256":"1BOTSWEiiCgwO5ghr5hIIJQ3RDsqYMzGEgWFONtteLc="},"nowicki_2014_global_model.tif":{"contentType":"image/tiff","lastModified":1788229323000,"length":70635,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/nowicki_2014_global_model.tif","sha256":"TjP6kQXnF5oAK7E4SyUGHsEQa8BJGSmdTYdO2qfnjUg="},"nowicki_2014_global.hdf5":{"contentType":"application/octet-stream","lastModified":1788229323000,"length":123287,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/nowicki_2014_global.hdf5","sha256":"bzET0bsEacD2K8Cy3yHg1usgKpNQVC7E7Z/da+T6msA="},"zhu_2015_model.tif":{"contentType":"image/tiff","lastModified":1788229323000,"length":25489,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/zhu_2015_model.tif","sha256":"6IEoBwzDWPIIVOfVBrXxGKeQzkJbL5juz3Hj6TitdkY="},"jessee_2018_model.tif":{"contentType":"image/tiff","lastModified":1788229323000,"length":80986,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/jessee_2018_model.tif","sha256":"5z9oIN6g5IaVT2UhQXcCLMsFigek6mi+5Y2eIhxfk48="},"info.json":{"contentType":"application/json","lastModified":1788229323000,"length":6034,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/info.json","sha256":"rDojfpEzxjZ4ZBEnSgDMtEciTvbd50PdB52Dzycs8jg="},"jessee_2018_beta_sigma.tif":{"contentType":"image/tiff","lastModified":1788229323000,"length":233846,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/jessee_2018_beta_sigma.tif","sha256":"WXXT+/GR1ESBHju/voCSquUnwNCq340oIMJZoWpK2TM="},"jessee_2018_model.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1788229323000,"length":36129,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/jessee_2018_model.kmz","sha256":"r5j1uIGHTHV55PjwTcKcn0kXUxpX3QPxue0uRIdCAII="},"zhu_2015_model.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1788229323000,"length":27112,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/zhu_2015_model.kmz","sha256":"lnCCT+M3Aup/TIb3y+e3b4wmA7iaBoErNx1EZkb8sQo="},"godt_2008_model.kmz":{"contentType":"application/vnd.google-earth.kmz","lastModified":1788229323000,"length":24206,"url":"https://earthquake.usgs.gov/product/ground-failure/6000tkuc/us/1788229326162/godt_2008_model.kmz","sha256":"GNtqIpV8IRgQc25hRWWCt3atZWZzkROsax5GEkqtpMw="}}}],"losspager":[{"indexid":28541895,"indexTime":1788229361741,"id":"urn:usgs-product:us:losspager:us6000tkuc:1788229351551","type":"losspager","code":"us6000tkuc","source":"us","updateTime":1788229351551,"status":"UPDATE","properties":{"alertlevel":"green","depth":"10.0","eventsource":"us","eventsourcecode":"6000tkuc","eventtime":"2026-08-15T04:28:37.000Z","latitude":"-8.2904","longitude":"121.5625","magnitude":"6.1","maxmmi":"6","pdl-client-version":"Version
        3.5.4 2026-01-22","release":"false","review-status":"automatic"},"preferredWeight":158,"contents":{"comments.json":{"contentType":"application/json","lastModified":1788229350000,"length":834,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/comments.json","sha256":"yawv8Mb82azX7WygkFWYnxaiWmNmSGFOMxqkkSMKupw="},"json/cities.json":{"contentType":"application/json","lastModified":1788229348000,"length":2450,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/json/cities.json","sha256":"6dx/rtrlk0IB1ljRbUO1XjSFcT6f/LaFYdojdZBacA4="},"onepager.pdf":{"contentType":"application/pdf","lastModified":1788229350000,"length":1199165,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/onepager.pdf","sha256":"7BIB8sM8qmOaf6jtEad5LiNgeWiE6H58fqEvTyqd9Yw="},"json/alerts.json":{"contentType":"application/json","lastModified":1788229348000,"length":1455,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/json/alerts.json","sha256":"8PQMyo2vcd8a4Hr1OwbJuXw8WZqBK3oPcgWSYPhPz48="},"json/exposures.json":{"contentType":"application/json","lastModified":1788229348000,"length":653,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/json/exposures.json","sha256":"h3L+VQ9YIxvdfsl17RTeNxbrfy3GUOXMyAMHMYIkO+w="},"event.json":{"contentType":"application/json","lastModified":1788229350000,"length":697,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/event.json","sha256":"olE2b1dEoZs9M3vZ1V/YIKfo3TRBiBwTmCrloAhmVKY="},"json/historical_earthquakes.json":{"contentType":"application/json","lastModified":1788229348000,"length":1532,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/json/historical_earthquakes.json","sha256":"PWR6Exoufg+TNMXhmReByPVrZ9Lh4j33tgJ44wZe7h4="},"grid.xml":{"contentType":"application/xml","lastModified":1788229350000,"length":10390860,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/grid.xml","sha256":"N/7gtBaxPYuG+l6LzX3lTl9iAIk/Yq7kIzOm8BaArYk="},"contents.xml":{"contentType":"application/xml","lastModified":1788229350000,"length":2951,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/contents.xml","sha256":"4YQYOxrL0fquA/rZdjmRkwL065QhV7flQVnnu+RBWCE="},"alertfatal.pdf":{"contentType":"application/pdf","lastModified":1788229350000,"length":9831,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/alertfatal.pdf","sha256":"MmP3cgYu99mrQq0rFbrBRxDiFt5Hc/Gh4vP4idygmqk="},"json/event.json":{"contentType":"application/json","lastModified":1788229348000,"length":697,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/json/event.json","sha256":"olE2b1dEoZs9M3vZ1V/YIKfo3TRBiBwTmCrloAhmVKY="},"cities.json":{"contentType":"application/json","lastModified":1788229350000,"length":2450,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/cities.json","sha256":"6dx/rtrlk0IB1ljRbUO1XjSFcT6f/LaFYdojdZBacA4="},"alertfatal.png":{"contentType":"image/png","lastModified":1788229350000,"length":11932,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/alertfatal.png","sha256":"o7Sv218clOGAbi1WvfpEtuH94pMZEwvOfDD+6QCobe8="},"losses.json":{"contentType":"application/json","lastModified":1788229350000,"length":948,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/losses.json","sha256":"/iqAYnHn3MJT9NdzZKATe1stWedAzxD+Sui9fCbjEEc="},"alertecon.png":{"contentType":"image/png","lastModified":1788229350000,"length":12937,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/alertecon.png","sha256":"cwsdEoqeNPhEN7MS2ZZHjQT0tXj64fjgTysXBZSJt/w="},"json/comments.json":{"contentType":"application/json","lastModified":1788229348000,"length":834,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/json/comments.json","sha256":"yawv8Mb82azX7WygkFWYnxaiWmNmSGFOMxqkkSMKupw="},"exposure.png":{"contentType":"image/png","lastModified":1788229350000,"length":118202,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/exposure.png","sha256":"gIzgtIdz2cUxyje17/c/YLcTVH0FEqcXmDMQZ68STSE="},"alertfatal_small.png":{"contentType":"image/png","lastModified":1788229350000,"length":5219,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/alertfatal_small.png","sha256":"5gOb122WaU9zkz9jSUpcKsLNQFEW4dfua7cSOY23J84="},"alertecon.pdf":{"contentType":"application/pdf","lastModified":1788229350000,"length":10512,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/alertecon.pdf","sha256":"T5KsK0+uO9u+oIf1XT4kOq1Sl2W9GNXTQiiDJL6nUgM="},"alerts.json":{"contentType":"application/json","lastModified":1788229350000,"length":1455,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/alerts.json","sha256":"8PQMyo2vcd8a4Hr1OwbJuXw8WZqBK3oPcgWSYPhPz48="},"exposure.pdf":{"contentType":"application/pdf","lastModified":1788229350000,"length":1038959,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/exposure.pdf","sha256":"piS2rpAUm98hqvpiC2W1OExTzj5BWrajS93x8XQhar4="},"exposures.json":{"contentType":"application/json","lastModified":1788229350000,"length":653,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/exposures.json","sha256":"h3L+VQ9YIxvdfsl17RTeNxbrfy3GUOXMyAMHMYIkO+w="},"json/losses.json":{"contentType":"application/json","lastModified":1788229348000,"length":948,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/json/losses.json","sha256":"/iqAYnHn3MJT9NdzZKATe1stWedAzxD+Sui9fCbjEEc="},"alertfatal_smaller.png":{"contentType":"image/png","lastModified":1788229350000,"length":3127,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/alertfatal_smaller.png","sha256":"bQOXInUKj8bYSo++TVNTGpYWQjR7ADE0BPdUuO+Zf/Y="},"pager.xml":{"contentType":"application/xml","lastModified":1788229350000,"length":4824,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/pager.xml","sha256":"hrubXOxQEaEyAR7IUWlhHgnV7CUajV1xwsDJezfnJU4="},"alertecon_small.png":{"contentType":"image/png","lastModified":1788229350000,"length":5671,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/alertecon_small.png","sha256":"Vx7iNW3fzSE65J5hnrsR0Thg/MYdspFyYU1zQ8E+U40="},"alertecon_smaller.png":{"contentType":"image/png","lastModified":1788229350000,"length":3332,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/alertecon_smaller.png","sha256":"uDnvOonc4VBeJyhL6cjQIFlfRHIlhtuMQ6DjwcL5wnU="},"historical_earthquakes.json":{"contentType":"application/json","lastModified":1788229350000,"length":1532,"url":"https://earthquake.usgs.gov/product/losspager/us6000tkuc/us/1788229351551/historical_earthquakes.json","sha256":"PWR6Exoufg+TNMXhmReByPVrZ9Lh4j33tgJ44wZe7h4="}}}],"origin":[{"indexid":28541872,"indexTime":1788228717488,"id":"urn:usgs-product:us:origin:us6000tkuc:1788228709040","type":"origin","code":"us6000tkuc","source":"us","updateTime":1788228709040,"status":"UPDATE","properties":{"azimuthal-gap":"45","depth":"10","depth-type":"operator
        assigned","error-ellipse-azimuth":"217","error-ellipse-intermediate":"8978","error-ellipse-major":"14101","error-ellipse-minor":"2717","error-ellipse-plunge":"0","error-ellipse-rotation":"91","evaluation-status":"confirmed","event-type":"earthquake","eventParametersPublicID":"quakeml:us.anss.org/eventparameters/6000tkuc/1788228711","eventsource":"us","eventsourcecode":"6000tkuc","eventtime":"2026-08-14T22:28:37.743Z","eventtime-error":"2.20","horizontal-error":"7.4","latitude":"-8.2904","latitude-error":"0.0736","longitude":"121.5625","longitude-error":"0.0668","magnitude":"6.1","magnitude-error":"0.046","magnitude-num-stations-used":"177","magnitude-source":"us","magnitude-type":"mb","minimum-distance":"3.042","num-phases-used":"83","num-stations-used":"82","origin-source":"us","pdl-client-version":"Version
        3.5.4 2026-01-22","quakeml-magnitude-publicid":"quakeml:us.anss.org/magnitude/6000tkuc/mb","quakeml-origin-publicid":"quakeml:us.anss.org/origin/6000tkuc","quakeml-publicid":"quakeml:us.anss.org/event/6000tkuc","review-status":"reviewed","standard-error":"1.08","title":"62
[...]
