interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2023-02-0600%3A00%3A00&endtime=2023-02-0623%3A59%3A59&minmagnitude=6.0&maxdepth=40.0
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"metadata\":{\"generated\":1791212003000,\"url\":\"https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2023-02-0600%3A00%3A00&endtime=2023-02-0623%3A59%3A59&minmagnitude=6.0&maxdepth=40.0\",\"title\":\"USGS
        Earthquakes\",\"status\":200,\"api\":\"2.7.0\",\"count\":5},\"features\":[{\"type\":\"Feature\",\"properties\":{\"mag\":6,\"place\":\"4
        km NNE of G\xF6ksun, Turkey\",\"time\":1675684931275,\"updated\":1758829916268,\"tz\":null,\"url\":\"https://earthquake.usgs.gov/earthquakes/eventpage/us6000jlrc\",\"detail\":\"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us6000jlrc&format=geojson\",\"felt\":24,\"cdi\":7.5,\"mmi\":7.528,\"alert\":\"yellow\",\"status\":\"reviewed\",\"tsunami\":0,\"sig\":668,\"net\":\"us\",\"code\":\"6000jlrc\",\"ids\":\",us6000jlrc,at00rpnqrp,\",\"sources\":\",us,at,\",\"types\":\",dyfi,ground-failure,internal-origin,losspager,origin,phase-data,shakemap,\",\"nst\":138,\"dmin\":0.356,\"rms\":0.54,\"gap\":25,\"magType\":\"mb\",\"type\":\"earthquake\",\"title\":\"M
        6.0 - 4 km NNE of G\xF6ksun, Turkey\"},\"geometry\":{\"type\":\"Point\",\"coordinates\":[36.5114,38.0582,8.516]},\"id\":\"us6000jlrc\"},\n{\"type\":\"Feature\",\"properties\":{\"mag\":6,\"place\":\"12
        km W of \xC7elikhan, Turkey\",\"time\":1675679206742,\"updated\":1756929768163,\"tz\":null,\"url\":\"https://earthquake.usgs.gov/earthquakes/eventpage/us6000jm1y\",\"detail\":\"https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us6000jm1y&format=geojson\",\"felt\":6,\"cdi\":8.5,\"mmi\":7.406,\"alert\":\"yellow\",\"status\":\"reviewed\",\"tsunami\":0,\"sig\":655,\"net\":\"us\",\"code\":\"6000jm1y\",\"id[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://raw.githubusercontent.com/OSGeo/PROJ/refs/heads/master/docs/plot/data/coastline.geojson
  response:
    body:
      string: "{\n\"type\": \"FeatureCollection\",\n                                                                                \n\"features\":
        [\n{ \"type\": \"Feature\", \"properties\": { \"scalerank\": 1, \"featurecla\":
        \"Coastline\" }, \"geometry\": { \"type\": \"LineString\", \"coordinates\":
        [ [ -163.71289567772871, -78.595667413241543 ], [ -163.105800951163786, -78.223338718578589
        ], [ -161.245113491846439, -78.380176690584435 ], [ -160.24620805564453, -78.693645928866943
        ], [ -159.482404548154477, -79.046337579258974 ], [ -159.208183560197654,
        -79.497007745276406 ], [ -161.127601284814716, -79.634208673011329 ], [ -162.439846768218416,
        -79.281465346186991 ],[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us6000jlrc&format=geojson
  response:
    body:
      string: "{\"type\":\"Feature\",\"properties\":{\"mag\":6,\"place\":\"4 km NNE
        of G\xF6ksun, Turkey\",\"time\":1675684931275,\"updated\":1758829916268,\"tz\":null,\"url\":\"https://earthquake.usgs.gov/earthquakes/eventpage/us6000jlrc\",\"felt\":24,\"cdi\":7.5,\"mmi\":7.528,\"alert\":\"yellow\",\"status\":\"reviewed\",\"tsunami\":0,\"sig\":668,\"net\":\"us\",\"code\":\"6000jlrc\",\"ids\":\",us6000jlrc,at00rpnqrp,\",\"sources\":\",us,at,\",\"types\":\",dyfi,ground-failure,internal-origin,losspager,origin,phase-data,shakemap,\",\"nst\":138,\"dmin\":0.356,\"rms\":0.54,\"gap\":25,\"magType\":\"mb\",\"type\":\"earthquake\",\"title\":\"M
        6.0 - 4 km NNE of G\xF6ksun, Turkey\",\"products\":{\"dyfi\":[{\"indexid\":27071499,\"indexTime\":1758829921549,\"id\":\"urn:usgs-product:us:dyfi:us6000jlrc:1758829916268\",\"type\":\"dyfi\",\"code\":\"us6000jlrc\",\"source\":\"us\",\"updateTime\":1758829916268,\"status\":\"UPDATE\",\"properties\":{\"depth\":\"8.516\",\"eventsource\":\"us\",\"eventsourcecode\":\"6000jlrc\",\"eventtime\":\"2023-02-06T12:02:11.000Z\",\"latitude\":\"38.0582\",\"longitude\":\"36.5114\",\"magnitude\":\"6.0\",\"maxmmi\":\"7.5\",\"num-responses\":\"24\",\"numResp\":\"24\",\"pdl-client-version\":\"Version
        2.9.1 2023-05-15\"},\"preferredWeight\":158,\"contents\":{\"dyfi_zip.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1758829915000,\"length\":1990,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/dyfi_zip.geojson\",\"sha256\":\"rjMJVMoXmEhpV75YLzIOOTpNSXMhvyhiG7wimVMh0Cs=\"},\"dyfi_geo_10km.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1758829915000,\"length\":4653,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/dyfi_geo_10km.geojson\",\"sha256\":\"Ac2VjzsdxVWpa3+5bsvEZFWk8XWcd7s4V/iHN50Tx9o=\"},\"dyfi_geo_1km.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1758829915000,\"length\":5918,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/dyfi_geo_1km.geojson\",\"sha256\":\"l1D67tBWl3EFDSocpdyzTSGPmPYrNckhMJ0R814g5Xg=\"},\"us6000jlrc_plot_atten.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1758829915000,\"length\":3247,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_plot_atten.txt\",\"sha256\":\"MpMJ7cHpGAuOVkmhdBYFB87qT1dZVnHXG0JJAZtXJa8=\"},\"us6000jlrc_ciim_geo.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1758829915000,\"length\":756395,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_ciim_geo.ps\",\"sha256\":\"sKhI2gBJuo1OWfcaea1bsBrTqtfnzxVMBuWSFTEBltA=\"},\"us6000jlrc_ciim_imap.html\":{\"contentType\":\"text/html\",\"lastModified\":1758829915000,\"length\":928,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_ciim_imap.html\",\"sha256\":\"eh1Lm1B0bP/tBON8CrIZTtO/YPlMBp5O5jthPOtfdWk=\"},\"cdi_geo.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1758829915000,\"length\":1554,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/cdi_geo.txt\",\"sha256\":\"SPxP6BUm8YUaRLSzDl/Ov0xomuXudMCM08dlw+C3Dts=\"},\"us6000jlrc_ciim.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1758829915000,\"length\":761853,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_ciim.ps\",\"sha256\":\"D6dhYfs+4CWiglS4FtplMMxRAs3fyr4no3tdchcb8C4=\"},\"contents.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1758829915000,\"length\":4224,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/contents.xml\",\"sha256\":\"pPHx4s39PtF6F0CX86n7HrSLb2qVz2UOwF6ABngMwmU=\"},\"cdi_geo_1km.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1758829915000,\"length\":2125,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/cdi_geo_1km.txt\",\"sha256\":\"UjXHrNwdlRyv3gTR+bG0oEgb8iJQThndCwrvzFT8ouQ=\"},\"dyfi_plot_atten.json\":{\"contentType\":\"application/json\",\"lastModified\":1758829915000,\"length\":3912,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/dyfi_plot_atten.json\",\"sha256\":\"C5hUP5bwpmC+KFtxviq8jH6K1UwrmSc9iWIHXDA7S5E=\"},\"us6000jlrc_plot_numresp.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1758829915000,\"length\":673,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_plot_numresp.txt\",\"sha256\":\"OV/s3n8jeRsV/I+3r+u4QRh+uq8p0TO8S9kfbjHH5ZU=\"},\"cdi_geo.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1758829915000,\"length\":4766,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/cdi_geo.xml\",\"sha256\":\"zY7ig5RwHb3GBoMJ9EUEaG9/n1+WT/Irp045C+lybXE=\"},\"us6000jlrc_ciim_geo_imap.html\":{\"contentType\":\"text/html\",\"lastModified\":1758829915000,\"length\":2379,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_ciim_geo_imap.html\",\"sha256\":\"0I774IbHI4by/tWQmN0Tquo5rjlGE5qjKZeq6094pjk=\"},\"us6000jlrc_ciim.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1758829915000,\"length\":139397,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_ciim.jpg\",\"sha256\":\"J+hYcChVSsg6RHGU4vUOj4RIt+fYPwBOl7BKs/pkins=\"},\"cdi_zip.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1758829915000,\"length\":2811,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/cdi_zip.xml\",\"sha256\":\"Pjy32iMpdEYutCzPvVYYv0wKzat6qcJUTRlURXplfVc=\"},\"dyfi_geo.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1758829915000,\"length\":1948,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/dyfi_geo.kmz\",\"sha256\":\"wzBGRvUHmwmkmbrtyxnaYxtzvIUMEuiuVf2SeA1PIS0=\"},\"us6000jlrc_plot_atten.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1758829915000,\"length\":57936,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_plot_atten.ps\",\"sha256\":\"Ii9SaDlAnYy/76zD6WegsVFg1J7u5rJfhVs+KYcU5O0=\"},\"dyfi_zip.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1758829915000,\"length\":1644,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/dyfi_zip.kmz\",\"sha256\":\"LaQtTD6kzOeznS01AGqJLPb8JEpUzLdCHkf+3oaf6tM=\"},\"us6000jlrc_ciim_geo.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1758829915000,\"length\":137403,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_ciim_geo.jpg\",\"sha256\":\"3hWC4I6ZdymIecBgjDFlaf6mDCdqimf2wNLV3SyTDqs=\"},\"cdi_zip.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1758829915000,\"length\":1430,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/cdi_zip.txt\",\"sha256\":\"piguHhUzDkE1GCO6sWfpxZlhBwg362XEGJargKSTmrQ=\"},\"event_data.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1758829915000,\"length\":3034,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/event_data.xml\",\"sha256\":\"dSgdGjNRir3ZRtx4nb5sCUkRdETzHJPIXMyellMrJe8=\"},\"us6000jlrc_ciim.pdf\":{\"contentType\":\"application/pdf\",\"lastModified\":1758829915000,\"length\":473693,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_ciim.pdf\",\"sha256\":\"A2YnnLL22AY3uFOQx2khn3qlkaK1EjX9U1SI2kKOaME=\"},\"us6000jlrc_plot_numresp.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1758829915000,\"length\":30041,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_plot_numresp.ps\",\"sha256\":\"TkDNnJ8pVEQ+aJ38FqVGZzBXO4sKPvwWXYVGWlkgmL4=\"},\"dyfi_plot_numresp.json\":{\"contentType\":\"application/json\",\"lastModified\":1758829915000,\"length\":1112,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/dyfi_plot_numresp.json\",\"sha256\":\"c55UOjEXcB2AZRFveCyDTZUv2807PFtx6dCO0jBHcok=\"},\"us6000jlrc_ciim_geo.pdf\":{\"contentType\":\"application/pdf\",\"lastModified\":1758829915000,\"length\":473123,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_ciim_geo.pdf\",\"sha256\":\"HSFTroVWHqAZpl/KY7MhyoCAr21DKJVwssKILxJL9p0=\"},\"us6000jlrc_plot_atten.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1758829915000,\"length\":52078,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_plot_atten.jpg\",\"sha256\":\"yIMOPaaoCMbBZ93GsmY+zbhFDufrZGWBz5e3KPHfe6U=\"},\"dyfi.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1758829915000,\"length\":1159,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/dyfi.kmz\",\"sha256\":\"cbCNsgRhqdrKPyoX4F2LaFOQNHGQ8VhU4wGE/3P3D3I=\"},\"us6000jlrc_plot_numresp.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1758829915000,\"length\":31765,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jlrc/us/1758829916268/us6000jlrc_plot_numresp.jpg\",\"sha256\":\"nVHzxKqpQjuB3bIps5vceYB1P1ZAWPT077coIrdWGGk=\"}}}],\"ground-failure\":[{\"indexid\":22463897,\"indexTime\":1679030478492,\"id\":\"urn:usgs-product:us:ground-failure:6000jlrc_cloud:1679030468514\",\"type\":\"ground-failure\",\"code\":\"6000jlrc_cloud\",\"source\":\"us\",\"updateTime\":1679030468514,\"status\":\"WARNING\",\"properties\":{\"depth\":\"8.5\",\"eventsource\":\"us\",\"eventsourcecode\":\"6000jlrc\",\"eventtime\":\"2023-02-06T12:02:11.000Z\",\"landslide-alert\":\"green\",\"landslide-hazard-1std\":\"0.12359210528658256,
        0.5103489332811916\",\"landslide-hazard-2std\":\"0.04484038987237841, 0.8486064212903971\",\"landslide-hazard-alert-color\":\"green\",\"landslide-hazard-alert-parameter\":\"Aggregate
        Hazard\",\"landslide-hazard-alert-value\":\"0.32\",\"landslide-hazard-std\":\"0.2076\",\"landslide-maximum-latitude\":\"39.834375\",\"landslide-maximum-longitude\":\"38.85104166666251\",\"landslide-minimum-latitude\":\"36.232291666669944\",\"landslide-minimum-longitude\":\"34.282291666666666\",\"landslide-overlay\":\"jessee_2018.png\",\"landslide-population-1std\":\"7.388025385170558,
        21.231964285634316\",\"landslide-population-2std\":\"3.6964910128848025, 31.964816519300868\",\"landslide-population-alert-color\":\"green\",\"landslide-population-alert-parameter\":\"Population
        exposure\",\"landslide-population-alert-value\":\"14\",\"landslide-population-std\":\"7.2119\",\"latitude\":\"38.0582\",\"liquefaction-alert\":\"yellow\",\"liquefaction-hazard-1std\":\"0.9576350582872065,
        1.7098780785168952\",\"liquefaction-hazard-2std\":\"0.6801861780499564, 2.187036202363135\",\"liquefaction-hazard-alert-color\":\"green\",\"liquefaction-hazard-alert-parameter\":\"Aggregate
        Hazard\",\"liquefaction-hazard-alert-value\":\"1.3\",\"liquefaction-hazard-std\":\"0.38\",\"liquefaction-maximum-latitude\":\"39.83333333333334\",\"liquefaction-maximum-longitude\":\"38.85416666667031\",\"liquefaction-minimum-latitude\":\"36.2291666666638\",\"liquefaction-minimum-longitude\":\"34.27916666666667\",\"liquefaction-overlay\":\"zhu_2017_general.png\",\"liquefaction-population-1std\":\"726.4485007587243,
        1554.5484826971172\",\"liquefaction-population-2std\":\"451.51778166544847,
        2107.985990158802\",\"liquefaction-population-alert-color\":\"yellow\",\"liquefaction-population-alert-parameter\":\"Population
        exposure\",\"liquefaction-population-alert-value\":\"1100\",\"liquefaction-population-std\":\"419.22\",\"longitude\":\"36.5114\",\"magnitude\":\"6.0\",\"maximum-latitude\":\"38.02708333333334\",\"maximum-longitude\":\"36.52708333333333\",\"minimum-latitude\":\"37.97291666666667\",\"minimum-longitude\":\"36.47708333333333\",\"pdl-client-version\":\"Version
        2.7.9 2021-02-10\",\"rupture-warning\":\"False\",\"shakemap-version\":\"6\",\"version\":\"3\"},\"preferredWeight\":158,\"contents\":{\"godt_2008_model.tif\":{\"contentType\":\"image/tiff\",\"lastModified\":1679030466000,\"length\":4858,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/godt_2008_model.tif\",\"sha256\":\"lAI9EjwRTXaTqZ8wTwJk824JQ6RqXKLJ4g1robLsZXM=\"},\"jessee_2018.hdf5\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1679030467000,\"length\":1136877,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/jessee_2018.hdf5\",\"sha256\":\"8khYg5bcjP8105GsHHDM6gp+K1zJUlP6njxfLiZYqT0=\"},\"zhu_2017_general.png\":{\"contentType\":\"image/png\",\"lastModified\":1679030467000,\"length\":4979,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/zhu_2017_general.png\",\"sha256\":\"D9kqX/7SepRQD9EtNG0zIy36kyTOpjFzx9CkHDOcREo=\"},\"contents.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1679030466000,\"length\":2685,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/contents.xml\",\"sha256\":\"HbCyytmFxDpz1twpmRaaejyGzrJSbN7ndUYwmlBZxTY=\"},\"nowicki_2014_global_model.tif\":{\"contentType\":\"image/tiff\",\"lastModified\":1679030467000,\"length\":196057,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/nowicki_2014_global_model.tif\",\"sha256\":\"yBM/4UD+o8EyjTIxrlIK/jhFp4Qnvhn/Iuhh5R7J5Tk=\"},\"godt_2008.png\":{\"contentType\":\"image/png\",\"lastModified\":1679030466000,\"length\":2369,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/godt_2008.png\",\"sha256\":\"mTX/Xboeo9q5ZvGdUWpOgUYXNj82URjjivdAYpkiN1I=\"},\"nowicki_2014_global.hdf5\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1679030467000,\"length\":268990,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/nowicki_2014_global.hdf5\",\"sha256\":\"kuwGKyQgjAZZJ+qq48kEJEuwMI2BNkLSGUH84in70BU=\"},\"zhu_2015_model.tif\":{\"contentType\":\"image/tiff\",\"lastModified\":1679030467000,\"length\":53360,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/zhu_2015_model.tif\",\"sha256\":\"FIaqp2mZ5AKMXST2JkKJ/YPlU2EtTwOQ2Azz3b2Px+s=\"},\"zhu_2015.png\":{\"contentType\":\"image/png\",\"lastModified\":1679030467000,\"length\":5290,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/zhu_2015.png\",\"sha256\":\"gFAmpTsW3Bcfg12376vbd/MygYWNhgs+vBA634oHHDY=\"},\"info.json\":{\"contentType\":\"application/json\",\"lastModified\":1679030467000,\"length\":6004,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/info.json\",\"sha256\":\"FrIU2/d/U/HB5DzZHYPLu9GSacONlIZ89OMoswdbTaU=\"},\"jessee_2018_beta_sigma.tif\":{\"contentType\":\"image/tiff\",\"lastModified\":1679030467000,\"length\":730884,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/jessee_2018_beta_sigma.tif\",\"sha256\":\"80vEf38h6tU+1s7xBViwPeQw6GRymeAw4hVK942Ypt4=\"},\"zhu_2015_model.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1679030467000,\"length\":30709,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/zhu_2015_model.kmz\",\"sha256\":\"cKAZF014sMmMfC25rqtd+JpSw6pgQjXm1FI+sIj0SoI=\"},\"nowicki_2014_global.png\":{\"contentType\":\"image/png\",\"lastModified\":1679030467000,\"length\":60008,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/nowicki_2014_global.png\",\"sha256\":\"azOYzx12EEUhmHSFvur8+ePUtEqd3RP4+Z1QiSdRnlU=\"},\"zhu_2017_general_model.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1679030467000,\"length\":30668,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/zhu_2017_general_model.kmz\",\"sha256\":\"Rc8OC4TcoiEs2tOHreYE0sid3UbZjxcSS5El/Zby/Og=\"},\"godt_2008_modelmax.tif\":{\"contentType\":\"image/tiff\",\"lastModified\":1679030466000,\"length\":5844,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/godt_2008_modelmax.tif\",\"sha256\":\"uHXXYXbldSWLL/UEv3IyYYtdNslntQCx9cjt31SvMLA=\"},\"jessee_2018.png\":{\"contentType\":\"image/png\",\"lastModified\":1679030467000,\"length\":23800,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/jessee_2018.png\",\"sha256\":\"FrrnvU3g+A3QALmkTv8r+2hB7peLIGaGiwhcJbGPjW0=\"},\"zhu_2015.hdf5\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1679030467000,\"length\":104727,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/zhu_2015.hdf5\",\"sha256\":\"c2wIKKUUQi3L7K9kSrCTEJOGTKOYkngQwNrvnRvcFMg=\"},\"zhu_2017_general_beta_sigma.tif\":{\"contentType\":\"image/tiff\",\"lastModified\":1679030467000,\"length\":35934,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/zhu_2017_general_beta_sigma.tif\",\"sha256\":\"3bexUbebXExQovQjSHwflVjtxia76hu5CAAqQJ2EuDc=\"},\"godt_2008_modelmin.tif\":{\"contentType\":\"image/tiff\",\"lastModified\":1679030467000,\"length\":4435,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/godt_2008_modelmin.tif\",\"sha256\":\"Xj25B5XRx/9mfYGLptuhBBjYTWsr4dd0MlJA+u0GzN8=\"},\"zhu_2017_general_model.tif\":{\"contentType\":\"image/tiff\",\"lastModified\":1679030467000,\"length\":26561,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/zhu_2017_general_model.tif\",\"sha256\":\"p5dZg0i2MeYYsb4GUQywYwhRHmxnsjDHU+I14Mzsiqs=\"},\"godt_2008_modelmax.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1679030466000,\"length\":26830,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/godt_2008_modelmax.kmz\",\"sha256\":\"9S8NDAvyHAalfhomVrlOl6ombR6pvMvlVvWhYJ8hK00=\"},\"nowicki_2014_global_model.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1679030467000,\"length\":31722,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/nowicki_2014_global_model.kmz\",\"sha256\":\"0YyXpm4GwuwKbA20NU5TgpxpA0xU2DT/jVjsX+EHjHI=\"},\"zhu_2017_general.hdf5\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1679030467000,\"length\":128933,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/zhu_2017_general.hdf5\",\"sha256\":\"GqifPFAHU6sd6MzjM/hulbGxv+/XFRdFaV6YKeom7Hg=\"},\"godt_2008.hdf5\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1679030466000,\"length\":86221,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/godt_2008.hdf5\",\"sha256\":\"gm4apvpBREZDCUqPphOy+xqjVnPhZAPTGGRfbHqFiOY=\"},\"jessee_2018_model.tif\":{\"contentType\":\"image/tiff\",\"lastModified\":1679030467000,\"length\":192167,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/jessee_2018_model.tif\",\"sha256\":\"uASS4nwVL6n5JEhmRXjHr91sVgHb5cCZxk0e/mGdpbo=\"},\"jessee_2018_model.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1679030467000,\"length\":44291,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/jessee_2018_model.kmz\",\"sha256\":\"kzJiNy5TGJak5G5wC6UFbKuD1PQhqZFpjcmaXzhnbkQ=\"},\"godt_2008_model.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1679030466000,\"length\":26978,\"url\":\"https://earthquake.usgs.gov/product/ground-failure/6000jlrc_cloud/us/1679030468514/godt_2008_model.kmz\",\"sha256\":\"vP0G+TPG67+ZQHQ5Ix/QQzQ2QZAGV9CSHyjoua18RXY=\"}}},{\"indexid\":22286767,\"indexTime\":1675687547487,\"id\":\"urn:usgs-product:us:ground-failure:6000jlrc:1675687447411\",\"type\":\"ground-failure\",\"code\":\"6000jlrc\",\"source\":\"us\",\"updateTime\":1675687447411,\"st[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us6000jm1y&format=geojson
  response:
    body:
      string: "{\"type\":\"Feature\",\"properties\":{\"mag\":6,\"place\":\"12 km W
        of \xC7elikhan, Turkey\",\"time\":1675679206742,\"updated\":1756929768163,\"tz\":null,\"url\":\"https://earthquake.usgs.gov/earthquakes/eventpage/us6000jm1y\",\"felt\":6,\"cdi\":8.5,\"mmi\":7.406,\"alert\":\"yellow\",\"status\":\"reviewed\",\"tsunami\":0,\"sig\":655,\"net\":\"us\",\"code\":\"6000jm1y\",\"ids\":\",us6000jm1y,\",\"sources\":\",us,\",\"types\":\",dyfi,ground-failure,losspager,origin,phase-data,shakemap,\",\"nst\":65,\"dmin\":1.111,\"rms\":0.88,\"gap\":63,\"magType\":\"mb\",\"type\":\"earthquake\",\"title\":\"M
        6.0 - 12 km W of \xC7elikhan, Turkey\",\"products\":{\"dyfi\":[{\"indexid\":26966969,\"indexTime\":1756929773220,\"id\":\"urn:usgs-product:us:dyfi:us6000jm1y:1756929768163\",\"type\":\"dyfi\",\"code\":\"us6000jm1y\",\"source\":\"us\",\"updateTime\":1756929768163,\"status\":\"UPDATE\",\"properties\":{\"depth\":\"10\",\"eventsource\":\"us\",\"eventsourcecode\":\"6000jm1y\",\"eventtime\":\"2023-02-06T10:26:46.000Z\",\"latitude\":\"38.0315\",\"longitude\":\"38.0984\",\"magnitude\":\"6.0\",\"maxmmi\":\"8.5\",\"num-responses\":\"6\",\"numResp\":\"6\",\"pdl-client-version\":\"Version
        2.9.1 2023-05-15\"},\"preferredWeight\":158,\"contents\":{\"us6000jm1y_ciim_geo.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1756929767000,\"length\":139959,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/us6000jm1y_ciim_geo.jpg\",\"sha256\":\"8OJkmiSJhkbgO1FU2GG/NYOoN5n/0XcUc635YfzBXGQ=\"},\"us6000jm1y_plot_atten.ps\":{\"contentType\":\"application/postscript\",\"lastModified\":1756929767000,\"length\":50653,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/us6000jm1y_plot_atten.ps\",\"sha256\":\"pIo6N7/9Tf+kmTz1JoKRIzOzNXrDp2aUnYF6gXyZFrM=\"},\"dyfi_zip.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1756929767000,\"length\":330,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/dyfi_zip.geojson\",\"sha256\":\"lcj/NmNDjqyXYHeLo5EL3KPLjXZbN8WmpPfs+YlQLNc=\"},\"dyfi_geo_10km.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1756929767000,\"length\":788,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/dyfi_geo_10km.geojson\",\"sha256\":\"c+RAxHmEP6xep4iwcpVH9VIRZAsKR8ooubajEIbThQk=\"},\"dyfi_geo_1km.geojson\":{\"contentType\":\"application/octet-stream\",\"lastModified\":1756929767000,\"length\":1108,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/dyfi_geo_1km.geojson\",\"sha256\":\"gwrpqCia7GiMRce+0mZRknh2TUKqaYtWPxKixPAyKCs=\"},\"us6000jm1y_ciim_imap.html\":{\"contentType\":\"text/html\",\"lastModified\":1756929767000,\"length\":396,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/us6000jm1y_ciim_imap.html\",\"sha256\":\"E64is63DfhcyBkVLroPGkbnbA4ATZP3fhIiAMDB3ms8=\"},\"us6000jm1y_ciim_geo_imap.html\":{\"contentType\":\"text/html\",\"lastModified\":1756929767000,\"length\":805,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/us6000jm1y_ciim_geo_imap.html\",\"sha256\":\"Qxs/8/XDU2FZ5zg3YB6tbfgHyKYYIZ6mPxXyd3TBwzE=\"},\"us6000jm1y_plot_atten.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1756929767000,\"length\":1944,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/us6000jm1y_plot_atten.txt\",\"sha256\":\"ApBbc/Oj5SQIi3NOcdgNSyDHAwE3fChEzsB4xQpRFsQ=\"},\"cdi_geo.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1756929767000,\"length\":340,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/cdi_geo.txt\",\"sha256\":\"BkHKUmhFWoheqaRS+gaKsgBoRatBxNcoAsBUrgrnihc=\"},\"contents.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1756929767000,\"length\":4079,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/contents.xml\",\"sha256\":\"J8kLgsL2PSP4pXfEbGZQITVEjg+TiAkfObb84+fuMzM=\"},\"cdi_geo_1km.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1756929767000,\"length\":485,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/cdi_geo_1km.txt\",\"sha256\":\"m49lmN3+PMEn+IF+CXpnhQ/KiovVNvDosfH0VP0XhbM=\"},\"dyfi_plot_atten.json\":{\"contentType\":\"application/json\",\"lastModified\":1756929767000,\"length\":2301,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/dyfi_plot_atten.json\",\"sha256\":\"xfpLL7MTb60hof2TePgQ7fl2yjdFRSCd/filYXPhVj0=\"},\"us6000jm1y_ciim.pdf\":{\"contentType\":\"application/pdf\",\"lastModified\":1756929767000,\"length\":477938,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/us6000jm1y_ciim.pdf\",\"sha256\":\"Au7KMDmTkXig1CtAWgmV3JS+Gp5wf7BcJHkNbJQgyBQ=\"},\"cdi_geo.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1756929767000,\"length\":882,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/cdi_geo.xml\",\"sha256\":\"kefNXq1ojED2HE/Ix+YEFAhs+D9Lmim2PJb52r1mA4U=\"},\"us6000jm1y_ciim_geo.pdf\":{\"contentType\":\"application/pdf\",\"lastModified\":1756929767000,\"length\":477407,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/us6000jm1y_ciim_geo.pdf\",\"sha256\":\"dQ2IvfOiW0MamfnrKSoIRVOOuSfQiTBmbowyZu7BtCM=\"},\"cdi_zip.xml\":{\"contentType\":\"application/xml\",\"lastModified\":1756929767000,\"length\":458,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/cdi_zip.xml\",\"sha256\":\"xbYRP4GLoMnuOmSdu0TEz7rWV7bKJhJlMi/tp2CQsvw=\"},\"dyfi_geo.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1756929767000,\"length\":832,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/dyfi_geo.kmz\",\"sha256\":\"s+rFJSOfIiiGTV2sQt8bFlCkiqZNLe+ZzYFTnAQ0j2Y=\"},\"us6000jm1y_ciim.jpg\":{\"contentType\":\"image/jpeg\",\"lastModified\":1756929767000,\"length\":140323,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/us6000jm1y_ciim.jpg\",\"sha256\":\"XAGQSy8wWYQsYAnqT4PiBH64UyMs66AMmU5iusTjuA0=\"},\"dyfi_zip.kmz\":{\"contentType\":\"application/vnd.google-earth.kmz\",\"lastModified\":1756929767000,\"length\":831,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/dyfi_zip.kmz\",\"sha256\":\"3NDOB9cXPwFj6iv+Xz5+rLlXcRpAmWtiKBdI1M7PwfE=\"},\"cdi_zip.txt\":{\"contentType\":\"text/plain\",\"lastModified\":1756929767000,\"length\":315,\"url\":\"https://earthquake.usgs.gov/product/dyfi/us6000jm1y/us/1756929768163/cdi_zip.txt\",\"sha256\":\"FJ853OWY+JGTd+LvIKAlCqf4n2sBK6LlDvsVgXP2kv
[...]
